/* Survey Custom Style */
.YourCompanyNameSurveyResults 
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
}
.surveyresulttemplateUL
{

}
.surveyresulttemplateLI
{

}

.surveyresults { width: 100% }

.surveyitems input[type="checkbox"], .surveyitems input[type="radio"] { margin-right:5px; }
.surveyitems label { font-weight:normal; }
.surveyitems > table { margin-top:10px; }
